NEXT_PUBLIC_ADMIN_BASE_URL="Your Admin Panel URL"
NEXT_PUBLIC_SUPABASE_URL="Your Supabase Project URL"
NEXT_PUBLIC_SUPABASE_ANON_KEY="Your Supabase Project anon API key"
NEXT_PUBLIC_JWT_SECRET="A Random Key to Encrypt/Decrypt JWT Token"
NEXT_PUBLIC_CRYPTO_SECRET="A Random Key to Encrypt/Decrypt Password"
NEXT_PUBLIC_AWS_REGION="Your AWS Account Region"
NEXT_PUBLIC_AWS_ACCESS_KEY_ID="Your AWS Account Access Key"
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY="Your AWS Account Secret Access Key"
NEXT_PUBLIC_AWS_BUCKET_NAME="Your s3 Bucket Name"
NEXT_PUBLIC_ACCESS_KEY_ID="Your s3 Bucket User Access Key"
NEXT_PUBLIC_SECRET_ACCESS_KEY="Your s3 Bucket User Secret Key"
SMTP_EMAIL="Your Gmail Email for Sending Mails"
SMTP_PASSWORD="Your Gmail App Password (Generate from Google Account Settings)"
NEXT_PUBLIC_SUPABASE_STORAGE_URL="Your Supabase Storage URL"
NEXT_PUBLIC_SUPABASE_USER="Your Supabase User Email for Auth"
NEXT_PUBLIC_SUPABASE_USER_PWD="Your Supabase User Password for Auth"
NEXT_PUBLIC_ADMIN_BASE_URL="Your Admin Panel URL (e.g., http://localhost:3000)"
